/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
}

.bundle-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color:green;
    font-size:medium
}

.option {
    display: flex;
    align-items: center;
    justify-content: star;
    padding:10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    flex-wrap:wrap;
}

.option.selected {
    border-color: green;
    background: #e8f5e9;
    flex-wrap: wrap;
}

.selection {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.shipping {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
}

.total {
    font-size: 15px;
    font-weight: bold;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
.price-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

.currency {
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: 2px;
    margin-right: 170px;
}
.pair-text {
    font-weight: bold;
    font-size: 16px;
    flex: 1;  
}
.discount-text {
    font-size: 14px;
    margin-left: 150px;
}
option.selected .pair-text,
.option.selected .currency,
.option.selected .discount-text {
    color: green !important;
    font-weight: bold;
}
.shipping-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}